@{
  Layout = "_Layout";
}
<form action="Copies" method="post">
        <input name="searchString" id="searchString" type="search" placeholder="Search">
        <button type="submit">Search</button>
</form>

@using Library.Models;
@model List<Library.Models.Copy>;
@using System.Linq;

<h1>Copies for </h1>

@if (@ViewBag.Dumb.Count == 0) 
{
  <h3>No search results found.</h3>
}
else{
<ul>
  @foreach (Book book in @ViewBag.Dumb)
  {
    <li>@Html.ActionLink($"{book.BookName}", "Details", new { id = book.BookId })</li>
  }
</ul>
}

<p>@Html.ActionLink("Add new Copy", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>